h2 {
    font-size: 11px;
    margin: 0px;
    float: left;
}
.link {
    text-decoration: none;
    color: 555555
}

body {
margin: 0px;
font-family: verdana;
font-size: 11px;
}

div#description {
position: absolute;
top: 610px;
width: 890px;
color: 666666;
}

div#facebook_banner {
position: absolute;
top: 140;
}

div#invitea {
position: absolute;
width: 250;
height: 300;
left: 500px;
top: 175px;
font-weight: bold;
font-size: 13px;
z-index: 6;
}

div#deroulante {
position: absolute;
font-weight: bold;
left: 610px;
top: 330px;
z-index: 17;
visibility: hidden;
border: solid;
border-width: 1px;
background-color: ffffff;
overflow: auto;
}

div#link_legal {
position: absolute;
left: 320px;
top: 580px;
font-size: 10px;
z-index: 25;
}

div#delete_cookie {
position: absolute;
left: 430px;
top: 580px;
font-size: 10px;
z-index: 25;
}

div#content {
position: absolute;
left:50%;
margin-left:-460px;
width:900px;
height:600px;
}

h1#desc {
position: absolute;
left: 42px;
top: 140px;
font-weight: normal;
font-family: verdana;
font-style: italic;
font-size: 22px;
z-index: 2;
color: 5a4a42;
}

div#label_pseudo {
    position: absolute;
    left: 90px;
}

input#nicko {
    position: absolute;
    top: 16px;
    left: 55px;
    width: 140;
    font-weight: bold;
    background-color: ffffff;
}

input#femme_checkbox {
    position: absolute;
    left: 23px;
    top: 50px;
}

input#homme_checkbox {
    position: absolute;
    left: 110px;
    top: 50px;
}

div#homme {
    position: absolute;
    left: 44px;
    top: 52px;
    cursor: pointer;
    text-decoration: none;
}
div#femme {
    position: absolute;
    left: 131px;
    top: 52px;
    cursor: pointer;
}
div#homme:hover, div#femme:hover {
    text-decoration: underline;
}

div#label_age {
    position: absolute;
    left: 60px;
    top: 78px;
}

input#ageu {
    position: absolute;
    width: 28px;
    left: 60px;
    top: 96px;
    font-weight: bold;
    background-color: ffffff;
}

div#label_zip {
    position: absolute;
    left: 20px;
    top: 130px;
}

input#zipo {
    position: absolute;
    width: 58;
    left: 30px;
    top: 147px;
    font-weight: bold;
    background-color: ffffff;
}

div#tchater {
    position: absolute;
    width: 92px;
    height: 26px;
    color: rgb(0, 0, 0);
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    top: 190px;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    font-size: 13px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: arial;
    cursor: pointer;
}
div#tchater:hover {
    background-color: #000000;
    color: #ffffff;
}

div#deroulante {
    position: absolute;
    font-weight: bold;
    left: 610px;
    top: 330px;
    z-index: 17;
    visibility: hidden;
    border: solid;
    border-width: 1px;
    background-color: ffffff;
    overflow: auto;
}

div#link_legal {}

img#img_logo {
    position: absolute;
    left: 30px;
    top: 15px;
    z-index: 3;
}

img#img_coco {
    position: absolute;
    left: 412px;
    top: 47px;
    z-index: 3;
}

img#img_leaking {
    position: absolute;
    left: 0px;
    top: 410px;
    z-index: 5;
}